<template>
  <div>
    <h1>CkEditor Example</h1>
    <ckEditor></ckEditor>
  </div>
</template>

<script>
  import ckEditor from "@/components/CkEditor.vue";
  export default {
  components: {
    ckEditor
  },
}
</script>