<template>
<div>
  <slider></slider>
  <br/>
  <br/>
  <steps></steps>
</div>
</template>

<script>
  import slider from "@/components/ElementUI/slider.vue";
  import steps from "@/components/ElementUI/steps.vue";
  export default {
    components:{
      slider,
      steps
      
    }
  }
</script>