<template>
  <div id='slider'>
    <div class="block">
      <span class="demonstration">顯示間斷點</span>
      <el-slider
        v-model="value1"
        :step="10">
      </el-slider>
    </div>
    <div class="block">
      <span class="demonstration">不顯示間斷點</span>
      <el-slider
        v-model="value2"
        :step="10"
        show-stops>
      </el-slider>
    </div>
  </div>
  
</template>

<script>
  
  export default {
    name:'slider',
    data() {
      return {
        value1: 0,
        value2: 0
      }
    }
  }
</script>