<template>
<div>
    <el-steps :active="2" align-center>
    <el-step title="Step 1" description="Some description"></el-step>
    <el-step title="Step 2" description="Some description"></el-step>
    <el-step title="Step 3" description="Some description"></el-step>
    <el-step title="Step 4" description="Some description"></el-step>
    </el-steps>
</div>
    
</template>

<script>
  
  export default {
    name:'steps',
  }
</script>