<template>

    <div id="app">
        <ckeditor :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>
        <h3>Html</h3>
        <div v-text="editorData"></div>
        <h3>Live Show</h3>
        <div v-html="editorData"></div>
    </div>
    
</template>

<script>

    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    //匯入語言包
    import '@ckeditor/ckeditor5-build-classic/build/translations/zh';

    export default {
        name: 'app',
        components: {
            // Use the <ckeditor> component in this view.
            ckeditor: CKEditor.component
        },
        data() {
            return {
                editor: ClassicEditor,
                editorData: '<p>請在此輸入內容</p>',
                editorConfig: {
                    items: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList' ],
                    language: 'zh', //設定為中文
                    mediaEmbed: {
                        previewsInData: true
                        // 設定影片為可見的格式
                    }
                }
            };
        }
    }
</script>

<style scoped>
    .media > div{
        width: 50%;
    }   
</style>