<template>
  <div id="nav">
    <div style="height: 50px;">
      <router-link id='mybtn' v-for="item in itemList" :to="{path: '/' + item.routerPath}" :key="item.title" tag="button">{{item.title}}</router-link>
    </div>
    <hr />
    <router-view/>  
  </div>
</template>

<script>
export default {
  name:'app',
  data() {
    return{
      itemList: [
        {title:'CkEditor   ' ,routerPath:'edittest'},
        {title: 'CompontentTest   ',routerPath:'cmponenttest'},
        {title: 'Elementui Ui   ',routerPath:'elementui'}
      ]
    }
  }
}
</script>

<style>

  #mybtn {
    font-size:20px;
    margin:10px 10px 0px 0px;
    vertical-align: left;

  
  }

  #nav {
    text-align: center;
    width: 800px;
    height: 50;    
    margin: auto; 
  }

  .container{
    width: 150px;
    height: 150px;
    background-color:#0F0;
    margin:0 auto; 
  }
  
</style>


